.App {
  text-align: center;
  width: 100%;
}

body, html{
  padding: 0;
  margin: 0;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  margin: 0 auto;
  width: 100%;
  font-size: 8px;
}
td{
  padding: 5px 0px;
  max-width: 50px;
}

/*tr:nth-child(even){
  background-color: whitesmoke;
}*/

button{
  background-color: transparent;
  border-style: none;
}

button:hover{
  cursor: pointer;
}

th{
  font-weight: 700;
  text-align: left;
  background-color: rgb(245, 245, 245);
  height: 31px;
  padding: 0px;
  font-size: 12px;
}

h3{
  margin: 0 auto; 
  width: 50%;
  font-weight: 400;
}

@media only screen and (min-width: 359px) {
  table{
    font-size: 10px;
  }
  td{
    max-width: 50px;
  }
  th{
    font-size: 12px;
  }
}

@media only screen and (min-width: 359px) {
  table{
    font-size: 10px;
  }
  td{
    max-width: 50px;
  }

}

@media only screen and (min-width: 599px) {
  table{
    font-size: 12px;
    width: 100%;
  }
  td{
    min-width: 70px;
    max-width: 90px;
  }
  th{
    font-size: 14px;
  }
  h3{
    font-size: 14px;
  }
}

@media only screen and (min-width: 719px) {
  table{
    font-size: 16px;
    width: 70%;
  }
  td{
    min-width: 70px;
    max-width: 100px;
  }
  th{
    font-size: 18px;
  }
  h3{
    font-size: 18px;
  }
}

@media only screen and (min-width: 1023px) {
  table{
    width: 50%;
  }
  td{
    min-width: 80px;
  }

}